
.diceArea
  margin-top 20px
  padding 30px 20px
  // height 140px
  background rgba(#FFF, 0.6)
  border-radius 10px
  text-align center
  display flex
  flex-direction column
  align-items center
  justify-content center

  button
    position relative
    display block
    margin 0

.buttonContainer
  position relative
  &.disabledButton:after
    content ''
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(#FFF, .2)

.diceContainer
  display flex
  flex-direction row
  align-items center
  justify-content center
  + button, + .buttonContainer
    margin-top 15px

.relinquishButtonsContainer
  display block
  color #333
  text-align center
  button
    display inline-block
    margin 0 10px
