
.dice
  position relative
  width 87px
  margin 2px
  padding 8px 8px 1px 0
  border-radius 10px
  transition 320ms background-color
  &.highlightable
    cursor pointer
    &:hover
      background-color #ababab
    &.highlighted
      background-color purple
  &.isComputer:after
    // Disable the dice click
    content ''
    display block
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color transparent
