
.dice
  width 87px
  margin 2px
  padding 8px 8px 1px 0
  border-radius 10px
  transition 320ms background-color
  &.highlightable
    cursor pointer
    &:hover
      background-color #ababab
    &.highlighted
      background-color purple
