
.gameBoardArea
  position relative
  margin-top 40px
  height 410px
  overflow hidden
  border-radius 10px
  text-align center

.monsterAvatar
  position absolute
  left 64px
  bottom 70px
  max-width 220px
