
.kingOfTokyoGame
  padding 40px
  background-color rgba(#FFF, .2)

.kingOfTokyoGameInner
  margin 0 auto
  width 750px
  min-width 750px
  padding-bottom 100px

.playerTurnNotice
  margin 20px 0 -10px

.playerCardsContainer
  display flex
  margin-top 20px
