
.kingOfTokyoGame
  padding 40px
  background-color rgba(#FFF, .2)

.kingOfTokyoGameInner
  margin 0 auto
  width 750px
  min-width 750px
  padding-bottom 100px

.startButtonContainer
  display flex
  align-items center
  justify-content center
  padding 40px 0

.startButton
  display block

.buyHeartButton
  display flex
  align-items center
  justify-content center

.playerTurnNotice
  margin 20px 0 -10px

.playerCardsContainer
  display flex
  justify-content space-evenly
  margin-top 20px
