.nav
  display flex
  flex-direction row
  padding 0 20px
  background $tjmerPurple

.navLink
  margin-right 10px
  a
    display block
    padding 20px 15px
    color rgba(#FFF, 0.8)
    text-decoration none
    &:hover
      color #FFF
      background-color rgba(#000, 0.1)
